<!DOCTYPE html>
<html>
<head>
	<title>hello</title>
	<style type="text/css">
		.listItem {
			font-style: italic;
			font-weight: bold;
		}
	</style>
</head>
<body>

	{% if request.user.is_authenticated %}
		<h1>{{request.user}}</h1>
	{% else %}
		<a href="{% url 'login' %}">Login</a>
	{% endif %}

	<h2> MY LISTS OF EMPLOYEES</h2>
	
	<button onclick="window.location.href='/person-create'">Add Employee</button>

	<ul>
		{% for person in person_list.person_set.all %}
			<li><h3 class="listItem"><a href="{% url 'persondetail' person.id %}">{{person.name}}</a><br></h3>
			<a href="{% url 'personupdate' person.id %}">edit</a>
			<button onclick="window.location.href='/person-delete/pk={{person.id}}' ">DELETE</button></li>
		{% endfor %}
	</ul>
	
	<br>
	<button onclick="window.location.href='/logout'">Log out</button>
	<p>To go back to the main page</p>
		<a class="w3-button w3-round-large w3-small w3-white w3-text-white w3-margin-bottom fa fa-asterisk w3-hover-opacity" href="profile.html"> BACK</a> 

</body>
</html>